<%- include('../includes/head.ejs')%>
    <%- include('../includes/navigation.ejs')%>

    <section class="formSection">
        <div class="formContainer mt-5 p-5"></div>
            <form action="/login" method="POST" enctype="multipart/form-data">
                <h1 class="display-2 text-center mb-5">Login</h1>
                <div class="form-group">
                    <label for="email" class="lead">E-mail</label>
                    <input class="form-control" type="email" id="email" name="email" value="<%= oldData.email %>" required>
                    <% if(validationErrors.find( e => e.param === "email") ) { %>
                        <h6 class="text-danger p-2"><%= validationErrors[validationErrors.findIndex(e => e.param === "email")].msg %></h6>
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="password" class="lead">Password</label>
                    <input class="form-control" type="password" id="password" name="password" value="<%= oldData.password %>" required>
                    <% if(validationErrors.find( e => e.param === "password") ) { %>
                        <h6 class="text-danger p-2"><%= validationErrors[validationErrors.findIndex(e => e.param === "password")].msg %></h6>
                    <% } %>
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn btn-primary btn-block mt-4" type="submit">Login</button>
            </form>
        </div>
    </section>
<%- include('../includes/end.ejs')%>